@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <img src="~/JoelHiltonHeadshot.jpg" alt="" />
</div>
<br />
<div class="text-center">
    <a asp-controller="Home" asp-action="List" >View Movie List</a>
</div>