@{
    ViewData["Title"] = "Get to Know Joel";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a href="https://www.qwcomedy.com/" target="_blank">Link to Quick Wits Comedy (where he performs regularly)</a>
    <br />
    <a href="https://baconsale.com/" target="_blank">Link to Baconsale site</a>
    <br />
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/BaconsaleKate.jpg" alt="" style="max-height: 450px;" />
    </a>
</div>
